{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sortie.css') }}"
{% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div id="form-div">
        <form class="form" id="form1">
<div class="login-wrap">
            <div class="login-form">
            <div id="form-main">
                    <div class="group">
                        <label for="inputPseudo">Pseudo</label>
                        <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                <div class="submit">
                    <button>Se connecter</button>
                    <div class="ease"></div>
                </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
    {% endblock %}

