{% extends 'base.html.twig' %}

{% block body %}

    <form method="post">
    {% if app.user %}
        <form>
            <button type="submit" formaction="{{ path('sortie_create') }}">Créer sortie</button>
            <button type="submit" formaction="{{ path('lieu_create') }}">Créer lieu</button>
            <button type="submit" formaction="{{ path('ville_create') }}">Créer ville</button>
            <button type="submit" formaction="{{ path('sortie_list') }}">Les Sorties</button>
            <button type="submit" formaction="{{ path('sortie_mes_sorties') }}">Les Organisations</button>
            <button type="submit" formaction="{{ path('sortie_mes_inscriptions') }}">Les Inscriptions</button>
            <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

            <br>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </form>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    {% endif %}


{% endblock %}