{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Détails sortie{% endblock %}

{% block body %}
    <form>
        <button type="submit" formaction="{{ path('sortie_create') }}">Créer sortie</button>
        <button type="submit" formaction="{{ path('lieu_create') }}">Créer lieu</button>
        <button type="submit" formaction="{{ path('ville_create') }}">Créer ville</button>
        <button type="submit" formaction="{{ path('sortie_list') }}">Les Sorties</button>
        <button type="submit" formaction="{{ path('sortie_mes_sorties') }}">Les Organisations</button>
        <button type="submit" formaction="{{ path('sortie_mes_inscriptions') }}">Les Inscriptions</button>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    </form>
    <h2>{{ sortie.nom }}</h2><br>
    à {{ sortie.lieu.nom }}<br>
    le {{ sortie.dateHeureDebut  | date('d M Y à h:m')}}<br>
    Durée: {{ sortie.duree }} heures<br>
    Etat: {{ sortie.etat.libelle }} <br>

    Participants:
    <ul>
    {% for participant in sortie.participants %}
        <li style="list-style-type: disc">{{ participant.pseudo }}</li>
    {% endfor %}
    </ul>
    <br>
    Infos:
    {{ sortie.infosSortie }}
{% endblock %}
