{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Liste des sorties
{% endblock %}

{% block body %}
    <form>
        <button type="submit" formaction="{{ path('sortie_create') }}">Créer sortie</button>
        <button type="submit" formaction="{{ path('lieu_create') }}">Créer lieu</button>
        <button type="submit" formaction="{{ path('ville_create') }}">Créer ville</button>
        <button type="submit" formaction="{{ path('sortie_list') }}">Les Sorties</button>
        <button type="submit" formaction="{{ path('sortie_mes_sorties') }}">Les Organisations</button>
        <button type="submit" formaction="{{ path('sortie_mes_inscriptions') }}">Les Inscriptions</button>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </form>
    <h2>Liste des sorties</h2><br>
    <section>
        <ul>
            {% for sortie in sorties %}
                <li>Le {{ sortie.dateHeureDebut | date('d-m-Y')}}:
                    <a href="{{ path('details', {'id': sortie.id}) }}">
                        {{ sortie.nom }}
                    </a>, à {{ sortie.lieu.nom }}. Etat: {{ sortie.etat.libelle }}
                    {% if(sortie.etat.getLibelle == 'Ouverte') %}
                        <a href="{{ path('sortie_participer', {'id': sortie.id}) }}"> -Participer- </a>
                    {% endif %}
                    {% if(sortie.getParticipants().contains(app.user)) %}
                        <a href="{{ path('sortie_se_desister', {'id': sortie.id}) }}"> -Se désister- </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}



