{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <ul>
            {% for sortie in sorties %}
                <li>{{ sortie.dateHeureDebut | date('d-m-Y')}}...{{ sortie.dateHeureFin | date('d-m-Y')}}: {{ sortie.nom }}, à {{ sortie.lieu.nom }}. Etat: {{ sortie.etat.libelle }}
                    <a href="{{ path('annuler', {'id': sortie.id}) }}"> -Annuler- </a>
                    <a href="{{ path('publier', {'id': sortie.id}) }}"> -Publier- </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block title %}

{% endblock %}

