{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Créer ville{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sortie.css') }}"
{% endblock %}
{% block body %}
    {{ form_start(villeForm)  }}


<div id="form-main">
    <div id="form-div">
        <form class="form" id="form1">
                    {{ form_widget(villeForm) }}

            <div class="submit">
                <button>Créer Ville</button>
                <div class="ease"></div>
                    {{ form_end(villeForm) }}
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                           >
{% endblock %}
