{% extends 'base.html.twig' %}

{% block body %}
    Modification profil - {{ app.user.pseudo }}
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button type="submit" class="btn">Valider modifs</button>
    {{ form_end(userForm) }}
{% endblock %}

{% block title %}
    Edit profile - {{ app.user.pseudo }}
{% endblock %}

